.container {
  $dim: 100%;
  $gap: 0.114%;
  $border-radius: 10000px;
  $bar-height: 55%;

  position: relative;

  height: $dim;
  width: $dim;
  transform: rotate(-45deg);

  .bar {
    position: absolute;
    top: -12.5%;
    transform: rotate(-125deg);
    left: calc(50% - 5.26%);
    height: calc(125%);
    width: calc(10.46% - #{$gap});
    background-color: white;
    border-radius: 100px;
  }

  .tag {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 4%;
    overflow: hidden;
    & > * {
      position: absolute;
      height: $dim;
      width: $dim;
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: white;
      }
    }
    & > :first-child {
      top: 0;
      left: 0;
      &::before,
      &::after {
        height: 5.26%;
        width: $bar-height;
      }
      &::before {
        border-top-right-radius: $border-radius;
      }
      &::after {
        border-bottom-right-radius: $border-radius;
        transform: translateY(85%);
      }
      & > :first-child {
        height: $dim;
        width: $dim;
      }
    }
    & > :nth-child(2) {
      top: 0;
      left: 0;
      &::before,
      &::after {
        width: 5.26%;
        height: $bar-height;
      }
      &::before {
        border-bottom-left-radius: $border-radius;
      }
      &::after {
        transform: translateX(85%);
        border-bottom-right-radius: $border-radius;
      }
    }
    & > :nth-child(3) {
      bottom: 0;
      right: 0;
      &::before,
      &::after {
        width: 5.26%;
        height: $bar-height;
      }
      &::before {
        bottom: 0;
        right: 0;
        border-top-right-radius: $border-radius;
      }
      &::after {
        bottom: 0;
        right: 0;
        transform: translateX(-85%);
        border-top-left-radius: $border-radius;
      }
    }
    & > :nth-child(4) {
      bottom: 0;
      right: 0;
      &::before,
      &::after {
        height: 5.26%;
        width: $bar-height;
      }
      &::before {
        bottom: 0;
        right: 0;
        border-bottom-left-radius: $border-radius;
      }
      &::after {
        bottom: 0;
        right: 0;
        transform: translateY(-85%);
        border-top-left-radius: $border-radius;
      }
    }
  }
}
