@keyframes translate-right {
  50% {
    margin-left: 54%;
  }
  100% {
    margin-right: 0%;
  }
}

@keyframes translate-left {
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 54%;
  }
}

.container {
  padding: 36px 47px;
  background: #fdb927;
  border-radius: 4px;
  color: var(--white-1);
}

.title {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
}

.paragraph {
  margin: 0px;
  margin-bottom: 54px;
}

.track {
  height: 6px;
  background: rgba(10, 10, 10, 0.4);
  border-radius: 100px;
  display: flex;
  align-items: center;
  & > div {
    height: 6px;
    background: #0a0a0a;
    border-radius: 100px;
    width: 46%;
  }
}

.translateRight {
  animation: translate-right 3s linear infinite;
}

.translateLeft {
  margin-left: 54%;
  animation: translate-left 3s linear infinite;
}

.gridWrapper {
  height: 258px;
  position: relative;
}

.grid-light {
  & > div {
    border-color: rgba(255, 255, 255, 0.25);
  }
}

.grid-dark {
  & > div {
    border-color: rgba(10, 10, 10, 0.25);
  }
}

.magnifyingGlass {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 34px;
  max-height: 34px;
  top: 20%;
  left: 11%;
  opacity: 0.7;
}

.bugFinder {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
  bottom: 15%;
  right: 8%;
  opacity: 0.7;
}
