.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  .planet {
    height: 100%;
    width: 100%;
    border-top: 3px solid var(--white-1);
    border-right: 3px solid transparent;
    border-radius: 100%;
    position: relative;
    margin-top: 0px;
  }
  .planet::after {
    content: "";
    display: block;
    height: 6.67%;
    width: 6.67%;
    border-radius: 100%;
    background-color: var(--white-1);
    position: absolute;
    right: 7.67%;
    top: 14.3%;
  }
}
