@import "../../../styles/breakpoints";

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-2);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 5vw;
  flex-wrap: wrap;
  justify-content: center;
}

.left {
  max-width: 618px;
  @media (max-width: mq(intro, large-tab)) {
    max-width: 500px;
  }
  * {
    margin: 0;
  }
  p {
    max-width: 580px;
  }
}

.right {
  $smallSquareDim: 15px;
  height: 40vw;
  width: 40vw;
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: mq(intro, tab)) {
    display: none;
  }
}

.gridWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-1);
}

.orbit {
  animation: spin 4s linear infinite;
  height: 60%;
  width: 60%;
}

.sphere1,
.sphere2,
.sphere3,
.sphere4 {
  position: absolute;
  width: 8%;
  height: 8%;
  border-radius: 100%;
}

.sphere1 {
  background: rgba(240, 223, 45, 0.4);
  top: 3.2%;
}

.sphere2 {
  background: rgba(254, 0, 0, 0.4);
  right: 3.2%;
}

.sphere3 {
  background: #5bd19f;
  bottom: 3.2%;
}

.sphere4 {
  background: rgba(24, 160, 251, 0.4);
  left: 3.2%;
}

.footnote {
  padding: 23px 44px 22px 16px;
  color: var(--white-1);
  border-radius: 4px;
  background-color: var(--dark-4);
  margin-top: 24px;
}

.heading {
  max-width: 405px;
  margin-bottom: 16px;
}

.paragraph2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
