@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--dark-2);
}

.right {
  $smallSquareDim: 15px;
  height: 40vw;
  width: 40vw;
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-1);
}

.orbit {
  position: absolute;
  width: 60%;
  height: 60%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  .planet {
    height: 100%;
    width: 100%;
    border-top: 3px solid var(--white-1);
    border-radius: 100%;
    position: relative;
    margin-top: -3px;
    clip-path: polygon(0 0%, 106% 0, 100% 38%, 0 61%);
    animation: spin 4s linear infinite;
  }
  .planet::after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: var(--white-1);
    position: absolute;
    right: -1px;
    top: 31%;
  }
  //   .planet::before {
  //     content: "";
  //     display: block;
  //     // height: 20px;
  //     // width: 20px;
  //     width: 20px;
  //     height: 40px;
  //     background-color: red;
  //     z-index: 2;
  //     position: absolute;
  //     right: -10px;
  //     top: 38%;
  //   }
}
