@use "sass:math";
@import "../../../styles/breakpoints";

.container {
  position: relative;
}

.mobRight {
  display: none;
  @media (max-width: mq(intro, tab)) {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5vw;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.header {
  font-size: 3rem;
}

.left {
  max-width: 618px;
  @media (max-width: mq(intro, large-tab)) {
    max-width: 500px;
  }

  * {
    margin: 0;
  }
  p {
    max-width: 454px;
    margin-top: 8px;
    margin-bottom: 48px;
  }
}

.button {
  background-color: transparent;
  border: 2px solid var(--white-1);
  color: var(--white-1);
  width: 214px;
  height: 75px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.right {
  $smallSquareDim: 15px;
  height: 40vw;
  width: 40vw;
  max-width: 500px;
  max-height: 500px;
  @media (max-width: mq(intro, tab)) {
    display: none;
  }
  @media (max-width: mq(intro, large-tab)) {
    max-width: 450px;
    max-height: 450px;
  }
  min-width: 300px;
  min-height: 300px;
  position: relative;
  &::before,
  &::after {
    content: "";
    width: $smallSquareDim;
    height: $smallSquareDim;
    background-color: var(--white-1);
    position: absolute;
    border-radius: 1px;
  }
  &::before {
    left: math.div($smallSquareDim, 2) * -1;
    top: math.div($smallSquareDim, 2) * -1;
  }
  &::after {
    left: calc(25% - #{math.div($smallSquareDim, 2)});
    top: calc(25% - #{math.div($smallSquareDim, 2)});
  }
  .gridWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .circles {
    height: 50%;
    width: 50%;
    overflow: hidden;
    left: 25%;
    top: 25%;
    position: relative;
    & > * {
      height: 50%;
      width: 50%;
      border-radius: 100%;
      position: absolute;
      bottom: 0;
    }
    & > :first-child {
      top: 0;
      left: 25%;
      background-color: var(--green-1);
    }
    & > :nth-child(2) {
      background-color: var(--red-1);
    }
    & > :last-child {
      right: 0;
      background-color: var(--purple-1);
    }
  }
  .caption1 {
    position: absolute;
    bottom: 5%;
    left: -25%;
    z-index: 1;
    white-space: nowrap;
    @media (max-width: mq(intro, large-tab)) {
      top: 6%;
      bottom: unset;
      left: unset;
      right: 5%;
    }
  }
  .caption2 {
    width: 43px;
    height: 42px;
    position: absolute;
    top: -21px;
    left: calc(50% - 21.5px);
  }
  .caption3 {
    position: absolute;
    bottom: -4%;
    right: -15%;
    z-index: 1;
    white-space: nowrap;
    @media (max-width: mq(intro, large-tab)) {
      right: 15%;
    }
  }
  .magnifyingGlass {
    position: absolute;
    right: calc(12.5% - 16.5px);
    top: calc(87.5% - 16.5px);
    height: 8%;
    width: 8%;
    opacity: 0.7;
  }
  .fragment {
    position: absolute;
    left: 8.8%;
    top: calc(59%);
    height: 7.6%;
    width: 7.6%;
    opacity: 0.7;
  }
}
