.container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-1);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  & > * {
    width: 100%;
    max-width: 279px;
  }
}
