.caption {
  background-color: var(--dark-3);
  padding: 9px 8px;
  border-radius: 1px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff80;
}

.magnifying-glass {
  opacity: 0.7;
  $thickness: 3px;
  height: 33px;
  width: 33px;
  border-radius: 100%;
  border: $thickness solid var(--white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--white);
  }
  &::after {
    $width: 17px;
    height: $thickness;
    width: $width;
    border-radius: 10px;
    bottom: 0px;
    right: -12px;
    transform-origin: top left;
    transform: rotate(50deg);
  }
  & > div {
    position: relative;
    $dim: 15px;
    height: $dim;
    width: $dim;
    border-radius: 100%;
    border: 3px solid transparent;
    background-color: transparent;
    border-left-color: var(--white);
    transform: rotate(15deg) translateX(-3px);

    &::before,
    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 3px;
      overflow: hidden;
      background-color: var(--white);
      border-radius: 100%;
    }

    &::before {
      transform: translateY(-1.5px) translateX(-1.5px);
    }

    &::after {
      height: 2.8px;
      width: 2.8px;
      transform: translateY(4.5px) translateX(-1.5px) rotate(45deg);
    }
  }
}
